{% load wagtailcore_tags wagtailimages_tags %}

<div class="article-listing-item{% if modifier %} article-listing-item--{{ modifier }}{% endif %}">
    <div class="article-listing-item__container">
        <div class="article-listing-item__image-container">
            {% image article.first_image fill-340x340 format-webp as image %}
            <img class="article-listing-item__image" src="{{ image.url }}" alt="{{ image.alt }}" loading="lazy" width="{{ image.width }}" height="{{ image.height }}">
        </div>
        <div class="article-listing-item__content">
            <p class="article-listing-item__meta meta meta--tiny">{{ article.type }}</p>
            <h3 class="article-listing-item__title heading heading--four">
                <a class="article-listing-item__link" href="{{ article.url }}">{{ article.title }}</a>
            </h3>
            <p class="article-listing-item__description">{{ article.description }}</p>
            {% if type == "related_content" and article.author %}
                <p class="article-listing-item__author meta meta--small">By {{ article.author }}</p>
            {% endif %}
            {% if article.tags %}
                <ul class="article-listing-item__tags">
                    {% for tag in article.tags.all %}
                        <li class="article-listing-item__tag">{% include "patterns/components/tag/tag.html" with tag=tag classes="tag--tiny meta meta--tiny" %}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
