{% load wagtailimages_tags %}

<div class="hero-carousel glide" data-carousel data-carousel-type="hero" data-slidetotal="{{ carousel.items|length }}">
    <div class="hero-carousel__viewport">
        <div class="glide__track" data-glide-el="track">
            <ul class="hero-carousel__slides glide__slides">
                {% for item in carousel.items %}
                    <li class="hero-carousel__slide glide__slide">
                        {% image item.image fill-1000x1000 format-webp as img %}
                        <img class="hero-carousel__image" src="{{ img.url }}" alt="{{ img.alt }}" width="{{ img.width }}" height="{{ img.height }}" loading="lazy">
                        <div class="hero-carousel__card">
                            {% if item.title %}
                                <h2 class="hero-carousel__title heading heading--four">
                                    {% if item.url %}
                                        <a class="hero-carousel__link" href="{{ item.url }}">
                                            {{ item.title }}
                                            {% include "patterns/components/icons/icon.html" with name="arrow" classname="hero-carousel__icon" %}
                                        </a>
                                    {% else %}
                                        {{ item.title }}
                                    {% endif %}
                                </h2>
                            {% endif %}
                            {% if item.description %}<p class="hero-carousel__description body">{{ item.description }}</p>{% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="hero-carousel__controls {% if carousel.items|length < 2 %}!hidden{% endif %}" data-glide-el="controls">
        {% include "patterns/components/carousel_control/carousel_control.html" with modifier="left" %}
        {% include "patterns/components/carousel_control/carousel_control.html" with modifier="right" %}
    </div>
</div>
