# apt-get install postgresql-client-15 python3-venv python3-pip ffmpeg

beautifulsoup4
django-click
Django
psycopg
wagtail>=6.0,<6.1
wagtailmedia

# migration utils
httpx
python-dateutil
#git+https://github.com/denshoproject/encyc-core.git@wagtail
git+file:///opt/encyc-core@wagtail
git+file:///opt/densho-elastictools
walrus

bpython
