{% load wagtailimages_tags %}

<dialog class="modal" data-modal id="modal-{{ modal.id }}" {% if modal.open %}open{% endif %}>
    <div class="modal__container">
        <div class="modal__content" data-modal-content>
            <button class="modal__close" data-modal-close aria-label="Close modal">
                {% include "patterns/components/icons/icon.html" with name="cross-in-circle" classname="modal__close-icon" %}
                Close
            </button>
            <div class="modal__body">
                <div class="modal__media-container">
                    {% if modal.video %}
                        {{ modal.video }}
                    {% elif modal.image %}
                        {% image modal.image width-1000 format-webp loading="lazy" %}
                    {% endif %}
                </div>
                <div class="modal__text">
                    <p class="modal__media-type meta meta--small">{{ modal.media_type }}</p>
                    <p class="modal__caption body">{{ modal.caption }}</p>
                </div>
            </div>
            <div class="modal__meta">
                {% if modal.densho_id %}
                <div class="modal__meta-header">
                    <span class="modal__id">Densho ID</span>
                    <h2 class="heading heading--four">{{ modal.densho_id }}</h2>
                </div>
                {% endif %}{# modal.densho_id #}
                <ul class="modal__actions">
                    <li class="modal__action">
                        <a href="#" class="modal__download">
                            {% include "patterns/components/icons/icon.html" with name="download" classname="modal__download-icon" %}
                            <span>Download full size <span>(5.3 MB)</span></span>
                        </a>
                    </li>
                    <li class="modal__action">
                        <a href="#" class="modal__action-link modal__action-link--cite meta meta--small">
                            {% include "patterns/components/icons/icon.html" with name="bookmark" classname="modal__meta-icon" %}
                            Cite this primary source
                        </a>
                    </li>
                    <li class="modal__action">
                        <a href="#" class="modal__action-link modal__action-link--cite meta meta--small">
                            {% include "patterns/components/icons/icon.html" with name="external-link" classname="modal__meta-icon" %}
                            View primary source
                        </a>
                    </li>
                </ul>
                <p class="modal__legal">© Densho 2025. This primary source is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License. <a href="#">More information</a></p>
            </div>
        </div>
    </div>
</dialog>
