{% extends "base.html" %}
{% load static %}

{% block body_class %}template-about app--orange{% endblock %}

{% block content %}
<div class="grid">

    <h1>
        About The Encyclopedia
    </h1>

    <h2>Overview</h2>

    <h2>
        <a name="support">Support and funding</a>
    </h2>

    <h2>
        <a name="usingandciting">Using and citing content</a>
    </h2>

    <h2>
        <a name="contact">Contact us</a>
    </h2>

    <h2>
        <a name="tosprivacy">Terms of Use/Privacy Policy</a>
    </h2>

</div>
{% endblock content %}
