{% extends "encyclopedia/base.html" %}
{% load encyclopedia_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-article{% endblock %}


{% block css %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lightview-3.2.2/css/lightview/lightview.css"/>
  <style>
  .ddr_objects { width:{{ ddr_objects_width }}px; margin-left:10px; }
  span.ddr_object { margin:0px; border:0px; padding:0px; }
  .ddr_objects img { width:{{ ddr_img_width }}px; height:{{ ddr_img_width }}px; margin:0px; padding:0px; }
  #rgdatabox-Core { display: none; }
  #rgdatabox-CoreDisplay { display: none; }
  </style>
{% endblock css %}


{% block content %}{{ block.super }}

  <h1>{{ page.title }}</h1>
  <p class="meta">{{ page.date }}</p>

  {% with authors=page.authors.all %}
    {% if authors %}
      <p>
        Author{{ authors | pluralize }}:
        {% for author in authors %}
          {% image author.author_image fill-40x40 style="vertical-align: middle" %}
          <a href="{% url "encyc-author" author.id %}">{{ author.display_name }}</a>
        {% endfor %}
      </p>
    {% endif %}
  {% endwith %}

  {% with tags=page.tags.all %}
    {% if tags %}
      <div class="tags">
        <h3>Tags</h3>
        {% for tag in tags %}
          <a href="{% url "encyc-topics" %}#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% databox page %}

  <div class="description">
    {{ page.description | richtext }}
  </div>

  {% article_toc page %}

  <div class="body">
    {{ page.body }}
  </div><!-- body -->

  {% if page.footnotes %}
  <h3>Footnotes</h3>
  <div class="footnotes">
    {{ page.footnotes | safe }}
  </div><!-- footnotes -->
  {% endif %}

{% endblock content %}
