{% extends "base.html" %}
{% load static %}

{% block body_class %}template-information-page{% endblock %}

{% block content %}
<div class="grid">
    <h1>{{ author.display_name }}</h1>

    {% if page.in_page_nav %}
    {% include "patterns/components/in_page_nav/in_page_nav.html" with items=page.in_page_nav %}
    {% endif %}

    <p>
        {{ author.description }}
    </p>

    <h3>By this author</h3>
    <ul>
        {% for article in articles %}
        <li><a href="{{ article.url }}">{{ article }}</a></li>
        {% endfor %}
    </ul><!-- /articles -->

</div><!-- /grid -->
{% endblock content %}
