<header class="header">
    <a href="/" class="header__home-link" aria-label="Densho Encyclopedia home">
    <svg class="header__logo" aria-hidden="true" focusable="false" >
            <use xlink:href="#densho-logo"></use>
        </svg>
        <span class="header__logo-text" aria-hidden="true">Encyclopedia</span>
    </a>

    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="/topics/" class="header__nav-link">
                    <span class="header__nav-icon">
                        {% include "patterns/components/icons/icon.html" with name="magnifying-glass" classname="size-5 text-brand-1" %}
                    </span>
                    <span class="header__nav-text">Explore Collection</span>
                </a>
            </li>
            <li class="header__nav-item">
                <a href="/about/" class="header__nav-link">
                    <span class="header__nav-text">About</span>
                </a>
            </li>
            <li class="header__nav-item">
                <a href="https://densho.org" class="header__nav-link">
                    <span class="header__nav-icon">
                        {% include "patterns/components/icons/icon.html" with name="external-link" classname="size-5 text-brand-1" %}
                    </span>
                    <span class="header__nav-text">Densho</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
