{% extends "encyclopedia/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}

<p>
  {% image source width-1000 loading="lazy" %}
</p>
<p>
<!-- source.id {{ source.id }}<br/> -->
<!-- source.filename {{ source.filename }}<br/> -->
<!-- source.file.file.name {{ source.file.file.name }}<br/> -->
{{ source.width }}x{{ source.height }}
({{ source.get_file_size | filesizeformat }})
</p>

{% for article,block in articles_blocks %}
  <h3>
    <a href="{{ article.url }}">{{ article }}</a>
  </h3>
  <p>
  {{ block.caption }}
  {% if block.caption2 %}<br/>{{ block.caption2 }}{% endif %}
  {% if block.courtesy %}<br/>{{ block.courtesy }}{% endif %}
  </p>
  {% if block.ext_url %}<p>
    <a href="{{ block.ext_url }}">{{ block.ext_url }}</a>
  </p>{% endif %}
  {% if block.creative_commons %}<p>CREATIVE_COMMONS</p>{% endif %}
{% endfor %}

{% endblock %}{# content #}
