{% extends "encyclopedia/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}

<h3>
  <a href="{{ article.url }}">{{ article }}</a>
</h3>
<p>
  {% image source.display width-1000 loading="lazy" %}
</p>
<p>
  <a href="{{ source.document.url }}">Download</a>
  ({{ source.document.get_file_size | filesizeformat }})
</p>
<p>
<!-- source.source_id {{ source.source_id }}<br/> -->
{{ source.caption }}
{% if source.caption2 %}<br/>{{ source.caption2 }}{% endif %}
{% if source.courtesy %}<br/>{{ source.courtesy }}{% endif %}
</p>
{% if source.creative_commons %}CREATIVE_COMMONS{% endif %}
{% if source.ext_url %}<p>
  <a href="{{ source.ext_url }}">{{ source.ext_url }}</a>
</p>{% endif %}

{% endblock %}{# content #}
