{% extends "encyclopedia/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}

<h3>
  <a href="{{ article.url }}">{{ article }}</a>
</h3>
<p>
  {% image source.image width-1000 loading="lazy" %}
</p>
<p>
<!-- source.image.id {{ source.image.id }}<br/> -->
<!-- source.image.filename {{ source.image.filename }}<br/> -->
<!-- source.image.file.file.name {{ source.image.file.file.name }}<br/> -->
{{ source.image.width }}x{{ source.image.height }}
({{ source.image.get_file_size | filesizeformat }})
</p>
<p>
<!-- source.source_id {{ source.source_id }}<br/> -->
{{ source.caption }}
{% if source.caption2 %}<br/>{{ source.caption2 }}{% endif %}
{% if source.courtesy %}<br/>{{ source.courtesy }}{% endif %}
</p>
{% if source.ext_url %}<p>
  <a href="{{ source.ext_url }}">{{ source.ext_url }}</a>
</p>{% endif %}
{% if source.creative_commons %}<p>CREATIVE_COMMONS</p>{% endif %}

{% endblock %}{# content #}
