<table border="1" width="500">
  <tr>
    <td>
      <!--
        self.video {{ self.video }}<br/>
        self.video.title {{ self.video.title }}<br/>
        self.video.file {{ self.video.file }}<br/>
        self.video.duration {{ self.video.duration }}<br/>
        self.video.width {{ self.video.width }}<br/>
        self.video.height {{ self.video.height }}<br/>
        self.video.thumbnail {{ self.video.thumbnail }}<br/>
      -->
      <video width="320" height="240" poster="/media/{{ self.video.thumbnail }}" controls>
        <source src="/media/{{ self.video.file }}" type="video/mp4"/>
        Your browser does not support the video tag.
      </video>
      <figcaption>
        <p>
          TITLE {{ self.video.title }}<br/>
          {% if self.video.file %}FILE {{ self.video.file }}<br/>{% endif %}
          {% if self.video.duration %}DURATION {{ self.video.duration }}<br/>{% endif %}
          {% if self.video.width %}WIDTH {{ self.video.width }}<br/>{% endif %}
          {% if self.video.height %}HEIGHT {{ self.video.height }}<br/>{% endif %}
          {% if self.video.thumbnail %}THUMBNAIL {{ self.video.thumbnail }}<br/>{% endif %}
        </p>
        CAPTION {{ self.caption }}<br/>
        {% if self.caption2 %}CAPTION2 {{ self.caption2 }}<br/>{% endif %}
        {% if self.courtesy %}COURTESY {{ self.courtesy }}<br/>{% endif %}
        </p>
        {% if self.transcript %}<a href="/media/{{ self.transcript.file }}">Transcript</a><br/>{% endif %}
      </figcaption>
      <p>
        <a href="{% url "encyc-source" "video" self.video.id %}">More info</a>
      </p>
    </td>
  </tr>
</table>
