# configuration for encyc-tng

[debug]

# SECURITY WARNING: don't run with debug turned on in production!
debug=False

# Describes the severity of messages that the logger will handle (Default: INFO)
log_level=INFO
log_file=/var/log/encyctng/encyctng.log

[performance]
# sitewide cache timeout (60*15=900, 60*60=3600, 60*60*24=86400)
cache_timeout=900
cache_timeout_long=86400

# https://docs.wagtail.org/en/stable/reference/contrib/frontendcache.html
cloudflare_email=
cloudflare_api_key=
cloudflare_zoneid=

[security]

# 'development', 'staging', or 'production'
environment=production

# SECURITY WARNING: keep the secret key used in production secret!
secret_key=NO.MORE.SECRETS

allowed_hosts=127.0.0.1, 192.168.1.102, encyctng.local, encyctng.lan, localhost, localhost:8082

csrf_origins=

[database]
engine=django.db.backends.postgresql
name=
host=
port=
username=
password=

[wagtail]
base_url=https://encyclopedia.densho.org

[media]

# Absolute paths to directories that will hold static and user-uploaded files.
# Note: Should not have trailing slashes.
static_root=/var/www/encyctng/static
media_root=/var/www/encyctng/media

[redis]
host=127.0.0.1
port=6379

[topics]
encyc_topics_path=/opt/encyc-tng/data/topics.json

[ddr]
vocab_topics_path=/opt/densho-vocab/api/0.2/topics.json
