# additional configuration for encyc-tng for docker development

[debug]
log_file=/dev/stdout

[security]
allowed_hosts=localhost,127.0.0.1,localhost:8082

[database]
engine=django.db.backends.postgresql
name=encyctng
host=db
port=5432
username=encyctng
password=encyctng

[redis]
host=redis
