{% extends "base.html" %}
{% load static encyclopedia_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-article{% endblock %}

{% block content %}
<div class="page">
    <header class="page__header grid">
        {% include "patterns/components/hero_split/hero_split.html" with hero=page.hero %}
    </header>

    <div class="page__carousel">
        {% include "patterns/components/carousel/carousel.html" with items=page.carousel type="full_width_image" %}
    </div>

    <div class="page__content grid" id="body">

        {% include "patterns/components/in_page_nav/in_page_nav.html" %}

        <div class="sf grid grid--no-gutter">
            {% for block in page.body %}
                <div class="sf__block sf__block--{{ block.block_type }}">
                    {% include_block block %}
                </div>
            {% endfor %}
            {# placeholders until https://github.com/denshoproject/encyc-tng/issues/60 is resolved #}
            <div class="sf__block sf__block--heading">
                {% include "patterns/components/heading/heading.html" with heading="Test heading" %}
            </div>
            <div class="sf__block sf__block--rich_text">
                {% include "patterns/components/rich_text/rich_text.html" %}
            </div>
            <div class="sf__block sf__block--heading">
                {% include "patterns/components/heading/heading.html" with heading="Test heading" %}
            </div>
            <div class="sf__block sf__block--rich_text">
                {% include "patterns/components/rich_text/rich_text.html" %}
            </div>
            <div class="sf__block sf__block--rich_text">
                {% include "patterns/components/rich_text/rich_text.html" %}
            </div>
            <div class="sf__block sf__block--full_width_image">
                {% include "patterns/components/full_width_image/full_width_image.html" %}
            </div>
            <div class="sf__block sf__block--rich_text">
                {% include "patterns/components/rich_text/rich_text.html" %}
            </div>
            <div class="sf__block sf__block--quote_block">
                {% include "patterns/components/quote_block/quote_block.html" %}
            </div>
            <div class="sf__block sf__block--rich_text">
                {% include "patterns/components/rich_text/rich_text.html" %}
            </div>
            <div class="sf__block sf__block--heading">
                {% include "patterns/components/rich_text/rich_text.html" %}
            </div>
        </div>
    </div>

    {% if page.author %}
        <section class="page__section">
            <div class="page__section-container grid">
                {% include "patterns/components/author_listing_item/author_listing_item.html" with author=page.author modifier="standalone" %}
            </div>
        </section>
    {% endif %}

    {% if page.related_links %}
        <section class="page__section">
            <div class="page__section-container grid">
                {% include "patterns/components/related_links/related_links.html" with title="For more information" related_links=page.related_links %}
            </div>
        </section>
    {% endif %}

    {% if page.footnotes %}
        <section class="page__section">
            <div class="page__section-container grid">
                {% include "patterns/components/footnotes/footnotes.html" with title="Footnotes" footnotes=page.footnotes %}
            </div>
        </section>
    {% endif %}

    {% if page.related_media or page.related_content %}
        <div class="page__footer">
            {% if page.related_media %}
                {% include "patterns/components/related_media/related_media.html" with title="From the archive" subtitle="(Densho Digital Repository)" related_media=page.related_media %}
            {% endif %}

            {% if page.related_content %}
                {% include "patterns/components/related_content_carousel/related_content_carousel.html" with title=page.related_content.title items=page.related_content.items %}
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock content %}
