@use '../config' as *;

.app {
    $root: &;

    &--orange {
        #{$root}__header {
            background-color: var(--color--orange);
        }

        &.template-topics {
            #{$root}__content {
                background-color: var(--color--orange);
            }
        }
    }
}
