@use 'config' as *;

.header {
    display: flex;
    max-width: $site-max-width;
    margin: 0 auto 30px;
    padding-left: $grid-gutters-mobile;
    padding-right: $grid-gutters-mobile;

    @include media-query(medium) {
        padding-left: $grid-gutters-tablet;
        padding-right: $grid-gutters-tablet;
    }

    @include media-query(large) {
        margin-bottom: 50px;
        padding-left: $grid-gutters-desktop;
        padding-right: $grid-gutters-desktop;
    }

    &__home-link {
        display: inline-flex;
        flex-direction: column;
        background-color: var(--color--blue);
        color: var(--color--white);
        text-decoration: none;
        padding: 14px 17px;
    }

    &__logo {
        max-width: 80px;
        height: 50px;
        margin-bottom: 5px;

        @include media-query(large) {
            max-width: 100px;
            height: 63px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
    }

    &__nav-list {
        display: none;

        @include media-query(large) {
            display: flex;
            align-items: center;
            margin-left: 25px;
            gap: 40px;
        }
    }

    &__nav-link {
        cursor: pointer;
        background-color: transparent;
        border: 0;
        text-decoration: none;
        color: var(--color--headings);
        font-weight: $weight--bold;
        padding-bottom: 5px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 90%;
            height: 2px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--color--border);
            border-radius: 3px;
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }

        @include high-contrast-mode() {
            text-decoration: underline;
        }
    }
}
