@use 'config' as *;

.listing {
    $root: &;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::before {
            position: absolute;
            z-index: -1;
            left: 0;
            width: 100vw;
            height: 1px;
            content: '';
            background-color: var(--color--lines);
        }
    }

    &__header-text {
        display: inline-block;
        background-color: var(--color--background);
        padding: 0 10px;
        position: relative;
        left: -10px;
    }

    &__item {
        list-style: none;
    }

    &__content {
        padding-top: $spacer-small;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: $spacer-small-plus;
        margin-bottom: $spacer-medium;

        &--authors {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: $spacer-small-plus;
        }
    }

    &__heading {
        font-weight: $weight--normal;
        color: var(--color--headings);
        margin-bottom: 0;
    }

    &__category-header {
        display: inline-block;
        margin-bottom: $spacer-small;
        text-align: center;

        &::before {
            content: '';
            display: block;
            margin: 0 auto 10px;
            width: 30px;
            height: 4px;
            border-radius: 10px;
            background-color: var(--color--headings);
        }
    }

    &__footer {
        margin-bottom: $spacer-large;
    }
}
