@use 'config' as *;

.related-content-carousel {
    border-top: 1px solid var(--color--border);
    background-color: var(--color--subtle-background);

    &__heading {
        max-width: $site-max-width;
        margin: 0 auto;
    }
}
