@use 'config' as *;

.tag {
    @include font-size(meta-tiny);
    text-transform: uppercase;
    background-color: var(--color--background);
    border: 1px solid var(--color--border);
    color: var(--color--links);
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: $weight--bold;
    line-height: 1;
    transition: border $transition, color $transition;

    &:hover,
    &:focus {
        border: 1px solid var(--color--border-dark);
        color: var(--color--links-hover);
    }
}
