{% extends "base.html" %}
{% load static encyclopedia_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-topics app--orange{% endblock %}

{% block content %}
<div class="page">
    <header class="page__header page__header--padding grid">
        <h1 class="page__title">{{ page.title }}</h1>
        <div class="page__introduction intro">
            {{ page.introduction }}
        </div>
    </header>
    <div class="page__content">
        {% include "patterns/components/topics/topics.html" with topics=page.topics %}
    </div>
</div>
{% endblock content %}
