{% load wagtailcore_tags wagtailimages_tags %}

<div class="author-listing-item{% if modifier %} author-listing-item--{{ modifier }}{% endif %}">
    {% if modifier == 'standalone' %}
        <h2 class="author-listing-item__heading heading heading--three section-heading">Authored by</h2>
    {% endif %}
    <div class="author-listing-item__container">
        <div class="author-listing-item__image-container">
            {% image author.image fill-200x200 format-webp as image %}
            <img class="author-listing-item__image" src="{{ image.url }}" alt="{{ image.alt }}" loading="lazy" width="{{ image.width }}" height="{{ image.height }}">
        </div>
        <div class="author-listing-item__content">
            <h3 class="author-listing-item__title heading heading--four">
                <a class="author-listing-item__link" href="{{ author.url }}">
                    {{ author.title }}
                    {% include "patterns/components/icons/icon.html" with name="arrow" classname="author-listing-item__link-icon" %}
                </a>
            </h3>
            <p class="author-listing-item__description">{{ author.role }}</p>
            {% if author.bio %}
                <p class="author-listing-item__description">{{ author.bio }}</p>
            {% endif %}
        </div>
    </div>
</div>
