{% load wagtailcore_tags wagtailimages_tags %}
<!-- components/search-form/search-form.html -->
<form action="{% url "encyc-articles-search" %}" method="get" role="search" class="search-form">
    <label class="sr-only">
        Search
    </label>
    <input
        name="query"
        type="text"
        placeholder="Search 1,700+ articles"
        class="search-form__input"
        value="{{ query }}"
        >
    <button type="submit" aria-label="Search" class="search-form__submit">
        {% include "patterns/components/icons/icon.html" with name="magnifying-glass" classname="size-5 text-brand-1" %}
    </button>
</form>
