{% extends "base.html" %}
{% load static %}

{% block body_class %}template-collections app--orange{% endblock %}

{% block content %}
    {% include "patterns/components/collection_header/collection_header.html" with title="Collections" tags=tags tabs=tabs %}

    <div class="grid">

        {% if collections %}
            <div class="listing">
                <div class="listing__header">
                    <h2 class="listing__heading meta meta--large">
                        <span class="listing__header-text">
                            <b>{{ collections|length }}</b> Authors
                        </span>
                    </h2>
                </div>
                <div class="listing__content">
                    <h2 class="listing__category-header">A</h2>
                    <ul class="listing__items listing__items--authors">
                        {% for author in collections %}
                            <li class="listing__item">
                                {% include "patterns/components/author_listing_item/author_listing_item.html" with author=author %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="listing__footer">
                    {% include "patterns/components/pagination/pagination.html" %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
