{% extends "base.html" %}
{% load static %}

{% block body_class %}template-collections app--orange{% endblock %}

{% block content %}
    {% include "patterns/components/collection_header/collection_header.html" with title="Collections" %}

    <div class="grid">
        {% if collections %}
            <div class="listing">
                <div class="listing__header">
                    <h2 class="listing__heading meta meta--large">
                        <span class="listing__header-text">
                            <b>{{ collections|length }}</b> Articles
                        </span>
                    </h2>
                </div>
                <div class="listing__content">
                    <ul class="listing__items">
                        {% for article in collections %}
                            <li class="listing__item">
                                {% include "patterns/components/article_listing_item/article_listing_item.html" with article=article %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="listing__footer">
                    {% include "patterns/components/pagination/pagination.html" %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
