{% load wagtailcore_tags wagtailimages_tags %}

<div class="collectipn-header">
    <div class="grid">
        <div class="collection-header__heading-wrapper">
            <h1 class="header__title heading heading--one">
                {{ title }}
            </h1>

            <div class="collection-header__search">
                {% include "../search/search-form.html" %}
            </div>
        </div>

        {% if tabs %}
            <div class="collection-header__tabs-wrapper">
                <ul class="collection-header__tabs">
                    {% for tab in tabs %}
                        <li class="collection-header__tab">
                            <a href="{{ tab.url }}" class="header__tab-link{% if tab.active %} header__tab-link--active{% endif %}">
                                {{ tab.label }}
                            </a>
                        <li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>

{% if tags %}
    <div class="grid">
        <ul class="tags">
            <li>
                <a href="/" class="tags__tag tags__tag--active">All</a>
            </li>

            {% for tag in tags %}
                <li class="tags__tag-item">
                    <button class="tags__tag{% if tag.active %} tags__tag--active{% endif %}">{{ tag.name }}</button>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


